<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ФЗ-Борд</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>
<body>
<div class="container">
    <main role="main" class="pb-3">
        <br/>
        <div class="row">
            <div class="col col-login mx-auto">
                <div class="card">
                    <form action="/Auth" method="post">
                        <div class="card-body p-6">
                            <div class="card-title">Вход в ImageBoard</div>
                            <div class="form-group">
                                <label class="form-label">
                                    Токен @User.Identity.IsAuthenticated

                                </label> 
                                <input type="password" name="token" id="token" class="form-control" placeholder="0000 0000">
                            </div>
                            <div class="form-footer">
                                <button type="submit" class="btn btn-primary btn-block">Вход</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </main>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</body>
</html>